#root {
  max-width: 1280px;
  min-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: black;
}
/* Style for the form container */
.form-container {
  width: 300px; /* Adjust width as needed */
  margin: auto; /* Center the container */
}

/* Style for form labels */
.form-container label {
  display: block; /* Labels will appear on separate lines */
  text-align: left; /* Align labels to the left */
  margin-bottom: 5px; /* Add some space between labels */
}

/* Style for form inputs */
.form-container input {
  width: 100%; /* Inputs will take up full width of container */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  padding: 5px; /* Add some padding for better appearance */
  margin-bottom: 10px; /* Add some space between inputs */
}


form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
 ul {
   list-style-type: none;
 }
 button {
   max-width: 6rem;
 }
 .h2 {
   font-weight: bold;
   font-size: 1.2rem;
 }
 .h3 {
   font-weight: bolder;
 }
 .inline::after {
   content: " • "
 }
 div{
 }
.horizontal{
   display: flex;
   justify-content: space-between;
}
.listItem {
  margin: 1.5rem;
}
.offsetRightBold {
  margin: .5rem;
}
.contentContainer {
  text-align: left;
}
.bullet {
  margin-left: 20px;

}
